.app.dark {
  --bg-color: #061a4b;
  --inverted-bg-color: #ecedf3;


  --primary-color: #157506;
  --secondary-color: #0ddc21;
  --inverted-primary-color: #02193d;
  --inverted-secondary-color: #2851d9;
}